p {color: rgb(26, 12, 224); 
    font-size: 60px;text-shadow: 2px 2px #03000a;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
            }
h1 {color: rgb(2, 1, 24); 
    font-size: 60px;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;

}
