.image_center{
display:block;    
margin-left: auto;
margin-right: auto;
width: 50%;

}

.sizer {
width: 500px;
height: 300px;
border-radius: 2%;
}

.footer{
text-align: center;
font-weight: 300;
font-family:Helvetica, Arial, sans-serif;
font-size: 12pt;
}
